@import '../../../../styles/colors';
@import '../../../../styles/variables';

:host {
  display: block;

  .collapse-element {
    border: 1px solid $border-color;
    border-bottom: none;

    &.no-border {
      border: none;
    }

    :hover {
      > * {
        color: $primary-color;
      }

      joeseln-icon {
        color: $primary-color;
      }
    }

    &-header {
      display: flex;

      .label-text {
        font-size: $font-size-md;
      }

      .square {
        height: 25px;
        width: 25px;
        padding: 0;
      }
    }

    &-body {
      border-bottom: 1px solid $border-color;
    }
  }
}
