.meta-tooltip {
  max-height: none; /* do not clip tooltip */
  overflow: visible !important;
}

.metadata-container {
  max-width: 20.83vw;   /* 400px relative to 1920 */
  max-height: 27.78vh;  /* 300px relative to 1080 */
  overflow-y: auto; /* enable vertical scrolling */
  overflow-x: auto;

  background: #fff;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 6px;
}

/* Chrome / Edge / Safari */
.metadata-container::-webkit-scrollbar {
  width: 8px;
}

.metadata-container::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 4px;
}


.nowrap-mode {
  white-space: nowrap;
  overflow-y: auto;
  text-overflow: ellipsis;
}

.metadata-container img {
  max-width: 100%;
  height: auto;
  margin-top: 6px;
}

.canvas-tooltip {
  max-width: 20.83vw;   /* 400px */
  max-height: 32.41vh;  /* 350px */
  overflow: hidden; /* prevent spill */
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  border: 1px solid #ccc;
}

.canvas-tooltip .metadata-container {
  max-height: 23.15vh;  /* 250px */
  overflow-y: auto;
}




