@import "src/styles/_colors";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .picture {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 35px;

    mlzeln-details-collapse-element {
      padding: 15px;
      margin: 20px;
      border: 1px solid $border-color;
      border-radius: 5px;

      h3 {
        font-size: 1.2em;
        font-weight: bold;
        text-align: center; /* Center the text horizontally */
        &:last-child {
          grid-column: -1 / 1;
        }
      }

      .mb-4 {
        margin-bottom: 20px;
      }
    }
  }
}

.fabric_container {
  min-height: 100vh;
  max-width: 100vh
}
