<ng-container *transloco="let t">
  <div style="text-align: center"><strong>{{detailsTitle}}</strong>
    <mlzeln-details-dropdown
      [service]="picturesService"
      [id]="id"
      [redirectDestination]="[showSidebar ? '.' : '' + '/pictures', id]"

      [initialState]="initialState"
      [privileges]="privileges"
      [duplicateElement]="false"
      *ngIf="privileges"
    ></mlzeln-details-dropdown>
  </div>
</ng-container>

<ng-container *ngIf="initialState">
  <ng-container *transloco="let t">
    <div [class.with-sidebar]="showSidebar">
      <aside *ngIf="showSidebar">
      </aside>
      <main>
        <ng-container *ngIf="initialState.deleted">
        </ng-container>
        <mlzeln-overview-collapse-element class="mb-4" [collapsed]="false">
          <form [formGroup]="form" (ngSubmit)="onSubmit()" class="picture"
                errorTailor>
            <div>
              <mlzeln-details-collapse-element
                [labelText]="t('picture.details.element.details')">
                <ng-container slot="body">
                  <div class="mb-4">
                    <mlzeln-form-input
                      for="title"
                      [label]="t('picture.details.title.label')"
                      [loading]="loading"
                      [onSubmit]="refreshResetValue"
                      [required]="true"
                    >
                      <input
                        type="text"
                        class="form-control mlzeln-input"
                        id="title"
                        formControlName="title"
                        name="title"
                        [placeholder]="t('picture.details.title.placeholder')"
                        slot="input"
                        readonly
                      />
                    </mlzeln-form-input>
                  </div>
                  <div class="mb-4">
                    <label
                      for="width">{{ t('picture.details.width.label') }}</label>
                    <div id="width">{{ initialState.width }}px</div>
                  </div>
                  <div class="mb-4">
                    <label
                      for="height">{{ t('picture.details.height.label') }}</label>
                    <div id="height">{{ initialState.height }}px</div>
                  </div>
                  <div class="mb-4">
                    <label
                      for="created-by">{{ t('picture.details.createdBy.label') }}</label>
                    <div class="flex items-center space-x-1">
                      <mlzeln-user-details
                        id="created-by"
                        class="inline-block"
                        [user]="initialState.created_by"
                      ></mlzeln-user-details>
                      <span> | </span>
                      <span
                        id="created-at">{{ initialState.created_at | formatDate }}</span>
                    </div>
                  </div>
                  <div class="mb-4">
                    <label
                      for="last-modified-by">{{ t('picture.details.lastModifiedBy.label') }}</label>
                    <div class="flex items-center space-x-1">
                      <mlzeln-user-details id="last-modified-by"
                                               class="inline-block"
                                               [user]="initialState.last_modified_by">
                      </mlzeln-user-details>
                      <span> | </span>
                      <span
                        id="last-modified-at">{{ initialState.last_modified_at | formatDate }}</span>
                    </div>
                  </div>
                </ng-container>
              </mlzeln-details-collapse-element>
            </div>
            <div>
              <mlzeln-details-collapse-element
                [labelText]="t('picture.details.element.recentChanges')">
                <ng-container slot="body">
                  <mlzeln-recent-changes
                    id="recent-changes"
                    [service]="picturesService"
                    [changesId]="id"
                    [refresh]="refreshChanges"
                  ></mlzeln-recent-changes>
                </ng-container>
              </mlzeln-details-collapse-element>

              <mlzeln-details-collapse-element
                [labelText]="t('picture.details.element.versions')">
                <ng-container slot="body">
                  <mlzeln-versions
                    id="versions"
                    contentType="picture"
                    [service]="picturesService"
                    [versionId]="id"
                    [lastModifiedAt]="initialState.last_modified_at"
                    [refresh]="refreshVersions"
                    [editable]="privileges.restore"
                    (changed)="onVersionChanged()"
                  ></mlzeln-versions>
                </ng-container>
              </mlzeln-details-collapse-element>
            </div>
          </form>
        </mlzeln-overview-collapse-element>

        <div class="border border-tum-border-gray p-4">
          <mlzeln-picture-editor
            [picture]="initialState"
            [service]="picturesService"
            [editable]="privileges.edit"
          ></mlzeln-picture-editor>
        </div>
      </main>
    </div>
  </ng-container>
</ng-container>
