@import "../../../../../../styles/colors";

:host {
  display: block;
  height: 100%;

  .header-container {
    display: flex;
  }

  .element {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "body" "footer";
    background-color: #fff;

    .header {
      grid-area: header;
      padding: 8px;

      .drag-handle {
        color: $primary-color;
      }
    }

    .body {
      grid-area: body;
      padding: 8px;
      overflow-y: scroll;
    }

    .footer {
      grid-area: footer;
      padding: 8px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      gap: 0.25rem;

      .last-modified-by {
        display: inline-block;
      }

      .actions {
        text-align: right;
      }
    }
  }
}

:host ::ng-deep .editable .upper-canvas {
  cursor: pointer !important;
}

:host ::ng-deep .upper-canvas {
  cursor: default !important;
}

