<ng-container *ngIf="initialState">
  <ng-container *transloco="let t">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="element"
          errorTailor>
      <div class="header flex justify-between header-container"
           [id]="title_id">
        <div class="flex-fill">
          <mlzeln-form-input-pic
                  [for]="'title-' + uniqueHash"
                  [loading]="loading"
                  [margin]="false"
          >
            <input
                    [style]="this.background_color"
                    type="text"
                    class="form-control mlzeln-input"
                    [id]="'title-' + uniqueHash"
                    formControlName="pic_title"
                    name="title"
                    [placeholder]="t('labBook.drawBoardPicture.details.title.placeholder')"
                    slot="input"
                    [readOnly]=!this.title_editable
            />
          </mlzeln-form-input-pic>
            </div>
            <div class="ml-2 self-center">
              <button type="button"
                      class="btn mlzeln-button-big mlzeln-button-background"
                      (click)="create_new_note_below()"
                      *ngIf="editable">
                NoteBelow
              </button>
              <button type="button"
                      class="btn mlzeln-button-big mlzeln-button-background"
                      (click)="create_new_note_aside()"
                      *ngIf="editable">
                NoteAside
              </button>
              <button type="button"
                      class="btn mlzeln-button-big mlzeln-button-background"
                      (click)="onOpenCommentsModal()"
                      *ngIf="editable">
                <joeseln-icon className="wb-comment"
                              class="mr-1"></joeseln-icon>
                <ng-container *ngIf="!element.num_related_comments">
                  {{ t('labBook.drawBoard.element.footer.createComment') }}
                </ng-container>
                <ng-container
                        *ngIf="element.num_related_comments && element.num_related_comments === 1">
                  {{ t('labBook.drawBoard.element.footer.comment', {count: element.num_related_comments}) }}
                </ng-container>
                <ng-container
                        *ngIf="element.num_related_comments && element.num_related_comments > 1">
                  {{ t('labBook.drawBoard.element.footer.comments', {count: element.num_related_comments}) }}
                </ng-container>
              </button>
              <button type="button"
                      class="btn mlzeln-button-big square-md mlzeln-button-none cursor-move drag-handle mr-2"
                      *ngIf="editable">
                <joeseln-icon className="wb-arrow-cross"></joeseln-icon>
              </button>
              <mlzeln-labbook-element-dropdown
                      *ngIf="editable"
                      [service]="picturesService"
                      [id]="initialState.pk"
                      [labBookId]="id"
                      [elementId]="element.pk"
                      [section]="section"
                      [initialState]="initialState"
                      routerBaseLink="/pictures"
                      [privileges]="privileges"
                      [labBookEditable]="editable"
                      (pngExportRequested)=trigger_export()
              ></mlzeln-labbook-element-dropdown>
            </div>
      </div>
      <div class="body" #container>
        <div class="canvas-wrapper" [class.editable]="privileges.edit"
             (click)="privileges.edit && onCanvasClick($event)"
             (dblclick)="onCanvasDoubleClick($event)">
          <app-fabric-canvas #fabricCanvas
                             (click)="privileges.edit && onCanvasClick($event)"
                             (dblclick)="onCanvasDoubleClick($event)"
                             (touchend)="privileges.edit && onOpenPictureEditorModal($event)"
                             [uuid]="initialState!.pk"
                             [editor_loaded]="editor_loaded"
                             [backgroundUrl]="getBackgroundUrl()"
          ></app-fabric-canvas>
        </div>
      </div>
    </form>
  </ng-container>
</ng-container>
