<ng-container *transloco="let t">
  <mlzeln-modal [modalFooter]="false" id="modal-qrcode">
    <div slot="header">
      SCAN ME
    </div>
    <div slot="body" id="qrcode">
      <qrcode
        [qrdata]=qrdata
        [allowEmptyString]="true"
        [ariaLabel]="'QR Code image with the following content...'"
        [cssClass]="'center'"
        [colorDark]="'#000000ff'"
        [colorLight]="'#ffffffff'"
        [elementType]="'canvas'"
        [errorCorrectionLevel]="'M'"
        [imageHeight]="75"
        [imageWidth]="75"
        [margin]="1"
        [scale]="1"
        [width]="300"
      ></qrcode>
    </div>
  </mlzeln-modal>
</ng-container>
