:host {
  display: block;
}

ngneat-dialog .ngneat-dialog-backdrop #modal-qrcode.ngneat-dialog-content {
  bottom: auto !important;
  height: auto !important;
  max-height: calc(100vh - 20px) !important;
  overflow: auto;
}

.token-label {
  padding-left: 1vh;
}