<ng-container *transloco="let t">
  <mlzeln-modal [modalFooter]="false" id="modal-qrcode">
    <div slot="header">
      SCAN ME
    </div>
    <div slot="body" id="qrcode">
      <div>
        <qrcode
                [allowEmptyString]="true"
                [ariaLabel]="'QR Code image with the following content...'"
                [colorDark]="'#000000ff'"
                [colorLight]="'#ffffffff'"
                [cssClass]="'center'"
                [elementType]="'canvas'"
                [errorCorrectionLevel]="'M'"
                [imageHeight]="75"
                [imageWidth]="75"
                [margin]="1"
                [qrdata]=qrdata
                [scale]="1"
                [width]="300"
        ></qrcode>
      </div>
      <div>
        <form [formGroup]="form">
          <input formControlName="withToken"
                 type="checkbox"/>
          <label class="token-label">With Token</label>
        </form>
      </div>
      <div *ngIf="form.get('withToken')?.value">
        <p style="text-align: center; font-size: 1.5vw ; margin-top: 5%">
          Your QR code is now active for {{this.token_validity}} seconds and
          lets you log in without
          entering your credentials.
          To keep your account secure, please don’t share this code with anyone.
        </p>
      </div>
    </div>
  </mlzeln-modal>
</ng-container>
