@import '../../../../../styles/colors';

:host {
  display: block;

  button {
    min-width: 22px;
    font-size: 12px;
    text-align: center;

    &:hover {
      color: $primary-color;
    }
  }
}
