<ng-container *transloco="let t">
  <div style="text-align: center"><strong>{{detailsTitle}}</strong>
    <eworkbench-details-dropdown
      [service]="notesService"
      [id]="id"
      [redirectDestination]="[showSidebar ? '.' : '' + '/notes', id]"
      [initialState]="initialState"
      [privileges]="privileges"
      *ngIf="privileges"
    ></eworkbench-details-dropdown>
  </div>
</ng-container>

<div *ngIf="!initialState" [class.with-sidebar]="showSidebar">
  <aside *ngIf="showSidebar">
    <eworkbench-sidebar-skeleton></eworkbench-sidebar-skeleton>
  </aside>
  <div class="skeleton-wrapper">
  </div>
</div>

<ng-container *ngIf="initialState">
  <ng-container *transloco="let t">
    <div [class.with-sidebar]="showSidebar">
      <aside *ngIf="showSidebar">
      </aside>
      <main>
        <ng-container *ngIf="initialState.deleted">
        </ng-container>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="note"
              errorTailor>
          <div>
            <eworkbench-details-collapse-element
              [labelText]="t('note.details.element.details')">
              <ng-container slot="body">
                <div class="mb-4">
                  <eworkbench-form-input
                    for="subject"
                    [label]="t('note.details.subject.label')"
                    [loading]="loading"
                    [onSubmit]="refreshResetValue"
                    [required]="true"
                  >
                    <input
                      type="text"
                      class="form-control ewb-input"
                      id="subject"
                      formControlName="subject"
                      name="subject"
                      [placeholder]="t('note.details.subject.placeholder')"
                      slot="input"
                      readonly
                    />
                  </eworkbench-form-input>
                </div>
                <div class="mb-4">
                </div>
                <div class="mb-4">
                  <label
                    for="created-by">{{ t('note.details.createdBy.label') }}</label>
                  <div class="flex items-center space-x-1">
                    <eworkbench-user-details
                      id="created-by"
                      class="inline-block"
                      [user]="initialState.created_by"
                    ></eworkbench-user-details>
                    <span> | </span>
                    <span
                      id="created-at">{{ initialState.created_at | formatDate }}</span>
                  </div>
                </div>
                <div class="mb-4">
                  <label
                    for="last-modified-by">{{ t('note.details.lastModifiedBy.label') }}</label>
                  <div class="flex items-center space-x-1">
                    <eworkbench-user-details id="last-modified-by"
                                             class="inline-block"
                                             [user]="initialState.last_modified_by">
                    </eworkbench-user-details>
                    <span> | </span>
                    <span
                      id="last-modified-at">{{ initialState.last_modified_at | formatDate }}</span>
                  </div>
                </div>
                <div class="mb-4">
                  <button
                    *ngIf="!initialState.deleted"
                    type="button"
                    class="btn ewb-button-regular ewb-button-outline"
                    (click)="go_to_note()"
                    [disabled]="loading"
                  >
                    {{ t('note.details.gotoBottom') }}
                  </button>
                </div>
                <eworkbench-wysiwyg-editor
                  [id]="'content'"
                  [disabled]=true
                  formControlName="content"
                  slot="input"
                  toolbar="---">
                </eworkbench-wysiwyg-editor>
              </ng-container>
            </eworkbench-details-collapse-element>
          </div>
          <div>
            <eworkbench-details-collapse-element
              [labelText]="t('note.details.element.recentChanges')">
              <ng-container slot="body">
                <eworkbench-recent-changes
                  id="recent-changes"
                  [service]="notesService"
                  [changesId]="id"
                  [refresh]="refreshChanges"
                ></eworkbench-recent-changes>
              </ng-container>
            </eworkbench-details-collapse-element>

            <eworkbench-details-collapse-element
              [labelText]="t('note.details.element.versions')">
              <ng-container slot="body">
                <eworkbench-versions
                  id="versions"
                  contentType="note"
                  [service]="notesService"
                  [versionId]="id"
                  [lastModifiedAt]="initialState.last_modified_at"
                  [refresh]="refreshVersions"
                  [editable]="privileges?.restore"
                  (changed)="onVersionChanged()"
                ></eworkbench-versions>
              </ng-container>
            </eworkbench-details-collapse-element>
          </div>
        </form>
      </main>
    </div>
  </ng-container>
</ng-container>
