:host {
  display: block;

  .note {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 35px;
  }

  ::ng-deep.content-container {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.content-container {
  max-height: 60svh;
  overflow-y: auto;
  margin-top: 1svh;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 12px;
  box-sizing: border-box;
}
