<ng-container *ngIf="data.length">
  <mlzeln-table-view
    #tableView
    class="mb-4"
    [columns]="listColumns"
    [data]="data"
    [columnHeader]="false"
    [paginationSize]="5"
  ></mlzeln-table-view>
</ng-container>

<ng-template #numberCellTemplate let-row>v{{ row.number }}</ng-template>
<ng-template #createdAtCellTemplate let-row>
  <ng-container *transloco="let t">
    <div *ngIf="row.created_at" class="whitespace-nowrap">{{ row.created_at| formatDate }}</div>
    <div *ngIf="!row.created_at">{{ t('versions.draft') }}</div>
  </ng-container>
</ng-template>
<ng-template #createdByCellTemplate let-row>
  <ng-container *transloco="let t">
    <div *ngIf="row.created_at" class="flex items-center whitespace-nowrap">
      <span class="mr-2">{{ t('versions.createdBy') }}</span>
      <mlzeln-user-details class="inline-block" [user]="row.created_by"></mlzeln-user-details>
    </div>
  </ng-container>
</ng-template>
<ng-template #summaryCellTemplate let-row>
  <div *ngIf="row.created_at">{{ row.summary }}</div>
</ng-template>
<ng-template #restoreCellTemplate let-row>
  <button
    type="button"
    class="btn mlzeln-button-small mlzeln-button-background square"
    (click)="onPreviewModal(row, row.number)"
    [disabled]="loading"
    *ngIf="row.created_at && editable"
  >
    <joeseln-icon className="wb-undo"></joeseln-icon>
  </button>
</ng-template>

<ng-container *transloco="let t">
  <button
    type="button"
    class="btn mlzeln-button-big mlzeln-button-primary"
    (click)="onFinalizeVersionModal()"
    [disabled]="loading"
    *ngIf="editable"
  >
    {{ t('versions.finalizeVersion') }}
  </button>
</ng-container>
