<ng-container *transloco="let t">
  <div class="flex gap-4 mb-4">
    <div class="inline-block">
      <label [for]="'reminderValue' + uniqueHash">
        {{ t('formTimeGroup.reminderValue.label') }}
        <mlzeln-form-asterisk class="inline-block"></mlzeln-form-asterisk>
      </label>
      <input
        type="text"
        class="form-control mlzeln-input"
        [formControl]="f.time"
        [id]="'reminderValue' + uniqueHash"
        [name]="'reminderValue' + uniqueHash"
        [placeholder]="t('formTimeGroup.reminderValue.placeholder')"
        autocomplete="off"
        (change)="emitChanges()"
      />
    </div>
    <div class="inline-block">
      <label [for]="'reminderUnit' + uniqueHash">
        {{ t('formTimeGroup.reminderUnit.label') }}
        <mlzeln-form-asterisk class="inline-block"></mlzeln-form-asterisk>
      </label>
      <div class="flex items-center">
        <div class="flex-fill mr-3">
          <ng-select
            class="mlzeln-select"
            [formControl]="f.unit"
            [labelForId]="'reminderUnit' + uniqueHash"
            [placeholder]="t('formTimeGroup.reminderUnit.placeholder')"
            [items]="remindAttendingUnits"
            bindLabel="label"
            bindValue="value"
            (change)="emitChanges()"
          ></ng-select>
        </div>
        <div class="flex-fill">{{ t('formTimeGroup.remindAttending.prior') }}</div>
      </div>
    </div>
  </div>
</ng-container>
