<ng-container *transloco="let t">
  <div *ngIf="dropdown" class="inline-block h-full navbar-nav" dropdown container="body" placement="bottom right">
    <button
      type="button"
      [id]="'details-dropdown-button' + uniqueHash"
      class="btn mlzeln-button-big mlzeln-button-background square-md"
      aria-controls="details-dropdown-menu"
      [disabled]="loading"
      dropdownToggle
    >
      <joeseln-icon className="wb-more-vertical"></joeseln-icon>
    </button>
    <ul
      [id]="'details-dropdown-menu' + uniqueHash"
      *dropdownMenu
      class="dropdown-menu dropdown-menu-right details-dropdown-menu whitespace-nowrap"
      role="menu"
      [attr.aria-labelledby]="'details-dropdown-button' + uniqueHash"
    >
      <ng-template
        *ngTemplateOutlet="
          dropdownUL;
          context: {
            t: t,
            menuClass: '',
            itemClass: 'btn mlzeln-button-regular font-weight-normal w-100 text-left menu-item-button'
          }
        "
      ></ng-template>
    </ul>
  </div>
  <div *ngIf="!dropdown" class="inline-block w-full navbar-nav">
    <button
      type="button"
      class="btn mlzeln-button-big mlzeln-button-background square-md"
      [attr.aria-expanded]="!detailsCollapsed"
      aria-controls="collapseBasic"
      (click)="detailsCollapsed = !detailsCollapsed"
    >
      <joeseln-icon className="wb-more-vertical"></joeseln-icon>
    </button>
    <div class="collapse navbar-collapse mt-1 py-2 bg-white" [collapse]="detailsCollapsed">
      <ng-template
        *ngTemplateOutlet="
          dropdownUL;
          context: {
            t: t,
            menuClass: 'menuitem',
            itemClass: 'btn mlzeln-button-regular font-weight-normal w-100 text-left menu-item-button'
          }
        "
      ></ng-template>
    </div>
  </div>
</ng-container>

<ng-template #dropdownUL let-t="t" let-menuClass="menuClass" let-itemClass="itemClass">
  <!-- copy modal for note and picture element -->
  <!-- eslint-disable-next-line -->
  <li [class]="menuClass" role="menuitem" *ngIf="!minimalistic && (initialState.content_type == 30 || initialState.content_type == 40)">
    <button
      type="button"
      [class]="itemClass"
      (click)="onOpenCopyModal()"
      [disabled]="loading"
    >
      <joeseln-icon className="wb-bars"></joeseln-icon>
 {{ t('labBook.copyElement.toolbar') }}
    </button>
  </li>
  <li [class]="menuClass" role="menuitem" *ngIf="!minimalistic">
    <button type="button" [class]="itemClass" (click)="onExport()" [disabled]="loading">
      <joeseln-icon className="wb-pdf-file"></joeseln-icon> {{ t('labBook.elementDropdown.export') }}
    </button>
  </li>

  <li [class]="menuClass" role="menuitem"
      *ngIf="!minimalistic && initialState.content_type == 40">
    <button type="button" [class]="itemClass" (click)="onPngExport()"
            [disabled]="loading">
      <joeseln-icon className="wb-pdf-file"></joeseln-icon>
      {{ t('labBook.elementDropdown.export_png') }}
    </button>
  </li>

  <li [class]="menuClass" role="menuitem"
      *ngIf="!minimalistic && labBookEditable && privileges?.trash && !initialState?.deleted">
    <button type="button" [class]="itemClass" (click)="onDelete()"
            [disabled]="loading">
      <joeseln-icon className="wb-trash-1"></joeseln-icon>
      {{ t('labBook.elementDropdown.trashElement') }}
    </button>
  </li>
  <li [class]="menuClass" role="menuitem" *ngIf="!minimalistic">
    <button
      type="button"
      [class]="itemClass"
      [routerLink]="[this.initialState.content_type_model | formatContentTypeModel: 'routerBaseLink', initialState?.pk]"
      [disabled]="loading"
    >
      <joeseln-icon className="wb-files"></joeseln-icon> {{ t('labBook.elementDropdown.showMetadata') }}
    </button>
  </li>
  <li [class]="menuClass" role="menuitem" *ngIf="!minimalistic">
    <button type="button" [class]="itemClass" (click)="onOpenRecentChangesModal()" [disabled]="loading">
      <joeseln-icon className="wb-undo"></joeseln-icon> {{ t('labBook.elementDropdown.recentChanges') }}
    </button>
  </li>
</ng-template>
