@import "../../../../../../styles/colors";

:host {
  display: block;
  border: 1px solid $border-color;
  background-color: $secondary-color;
  padding: 1px;

  .with-sidebar {
    display: grid;
    grid-template-columns: 50px auto;
    gap: 16px;
  }

  .element {
    margin: 1rem 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (width <= 991px) {
    .with-sidebar {
      display: block;
    }
  }

  ::ng-deep {
    gridster {
      background-color: #f9f9f9;

      .gridster-column {
        border-left: none !important;
        border-right: none !important;
      }

      .gridster-row {
        border-bottom: 1px solid $border-color !important;
        border-top: 1px solid $border-color !important;
      }
    }
  }
}
