<ng-container *transloco="let t">
  <ng-container *ngIf="user">
    <ng-container *ngIf="user?.userprofile">
      <ng-container *ngIf="user?.userprofile?.anonymized">
        <div class="flex items-center whitespace-nowrap" [class.chip]="chip"
             [class.inverted]="inverted">
          <div [class.text-gray-600]="!inverted">
            {{ t('user.details.anonymizedUser') }}
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!user?.userprofile?.anonymized">
        <ng-container
          *ngIf="user?.userprofile?.first_name && user?.userprofile?.last_name"
        ></ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!user || !user?.userprofile">
    <div class="flex items-center whitespace-nowrap" [class.chip]="chip"
         [class.inverted]="inverted">
      <div>
        {{ user?.username}}
      </div>
    </div>
  </ng-container>

</ng-container>


