<ng-container *transloco="let t">
  <div style="text-align: center"><strong>{{detailsTitle}}</strong>
    <eworkbench-details-dropdown
      [service]="filesService"
      [id]="id"
      [redirectDestination]="[showSidebar ? '.' : '' + '/files', id]"
      [initialState]="initialState"
      [privileges]="privileges"
      *ngIf="privileges"
    ></eworkbench-details-dropdown>
  </div>
</ng-container>

<div *ngIf="!initialState" [class.with-sidebar]="showSidebar">
  <aside *ngIf="showSidebar">
    <eworkbench-sidebar-skeleton></eworkbench-sidebar-skeleton>
  </aside>
</div>

<ng-container *ngIf="initialState">
  <ng-container *transloco="let t">
    <div [class.with-sidebar]="showSidebar">
      <main>
        <ng-container *ngIf="initialState.deleted">
        </ng-container>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="file"
              errorTailor>
          <div>
            <eworkbench-details-collapse-element
              [labelText]="t('file.details.element.details')">
              <ng-container slot="body">
                <div class="mb-4">
                  <eworkbench-form-input
                    for="title"
                    [label]="t('file.details.title.label')"
                    [loading]="loading"
                    [onSubmit]="refreshResetValue"
                    [required]="true"
                  >
                    <input
                      type="text"
                      class="form-control ewb-input"
                      id="title"
                      formControlName="title"
                      name="title"
                      [placeholder]="t('file.details.title.placeholder')"
                      slot="input"
                      readonly
                    />
                  </eworkbench-form-input>
                </div>
                <div class="mb-4">
                  <eworkbench-form-input
                    for="name"
                    [label]="t('file.details.name.label')"
                    [loading]="loading"
                    [onSubmit]="refreshResetValue"
                    [required]="true"
                  >
                    <input
                      type="text"
                      class="form-control ewb-input"
                      id="name"
                      formControlName="name"
                      name="name"
                      [placeholder]="t('file.details.name.placeholder')"
                      slot="input"
                      readonly
                    />
                  </eworkbench-form-input>
                </div>

                <div class="mb-4">
                  <label
                    for="download">{{ t('file.details.download.label') }}</label>
                  <div>
                    <button
                      type="button"
                      class="btn btn-sm bg-transparent px-0 text-left"
                      [authDownload]="{ url: initialState.download!, fileName: initialState.name! }"
                    >
                      <joeseln-icon className="wb-download"
                                    class="mr-1"></joeseln-icon>
                      <span class="btn-link">{{ initialState.name }}</span>
                      ({{ initialState.file_size | formatFileSize }})
                    </button>
                  </div>
                </div>
                <div class="mb-4">
                  <label
                    for="created-by">{{ t('file.details.createdBy.label') }}</label>
                  <div class="flex items-center space-x-1">
                    <eworkbench-user-details
                      id="created-by"
                      class="inline-block"
                      [user]="initialState.created_by"
                    ></eworkbench-user-details>
                    <span> | </span>
                    <span
                      id="created-at">{{ initialState.created_at | formatDate }}</span>
                  </div>
                </div>
                <div class="mb-4">
                  <label
                    for="last-modified-by">{{ t('file.details.lastModifiedBy.label') }}</label>
                  <div class="flex items-center space-x-1">
                    <eworkbench-user-details id="last-modified-by"
                                             class="inline-block"
                                             [user]="initialState.last_modified_by">
                    </eworkbench-user-details>
                    <span> | </span>
                    <span
                      id="last-modified-at">{{ initialState.last_modified_at | formatDate }}</span>
                  </div>
                </div>
              </ng-container>
            </eworkbench-details-collapse-element>

            <ng-container slot="actions" *transloco="let t">
              <button
                *ngIf="!initialState.deleted"
                type="button"
                class="btn ewb-button-regular ewb-button-outline"
                (click)="go_to_file()"
                [disabled]="loading"
              >
                {{ t('file.gotoBottom') }}
              </button>
            </ng-container>
          </div>
          <div>
            <eworkbench-details-collapse-element
              [labelText]="t('file.details.element.recentChanges')">
              <ng-container slot="body">
                <eworkbench-recent-changes
                  id="recent-changes"
                  [service]="filesService"
                  [changesId]="id"
                  [refresh]="refreshChanges"
                ></eworkbench-recent-changes>
              </ng-container>
            </eworkbench-details-collapse-element>

            <eworkbench-details-collapse-element
              [labelText]="t('file.details.element.versions')">
              <ng-container slot="body">
                <eworkbench-versions
                  id="versions"
                  contentType="file"
                  [service]="filesService"
                  [versionId]="id"
                  [lastModifiedAt]="initialState.last_modified_at"
                  [refresh]="refreshVersions"
                  [editable]="privileges?.restore"
                  (changed)="onVersionChanged()"
                ></eworkbench-versions>
              </ng-container>
            </eworkbench-details-collapse-element>
          </div>
        </form>
      </main>
    </div>
  </ng-container>
</ng-container>
