@import '../../../../../../styles/colors';

:host {
  display: block;

  ::ng-deep {
    gridster {
      background-color: rgba(0, 49, 97, 0.03);

      .gridster-column {
        border-left: none !important;
        border-right: none !important;
      }

      .gridster-row {
        border-bottom: 1px solid $border-color !important;
        border-top: 1px solid $border-color !important;
      }

      gridster-item {
        border-radius: 15px;
      }

      gridster-item eworkbench-labbook-draw-board-element {
        pointer-events: initial;
        height: inherit;
      }

      .gridster-item-moving eworkbench-labbook-draw-board-element {
        pointer-events: none;
      }

      .gridster-item-resizing eworkbench-labbook-draw-board-element {
        pointer-events: none;
      }
    }
  }
}
