  @defer (on viewport) {
  <mlzeln-labbook-draw-board-note
    #elementComponent
    [id]="id"
    [element]="element"
    [editable]="editable"
    *ngIf="element.child_object_content_type_model === 'shared_elements.note'"
  ></mlzeln-labbook-draw-board-note>
  }
  @placeholder {
    <p></p>
  }

  @defer (on viewport) {
  <mlzeln-labbook-draw-board-file
    #elementComponent
    [id]="id"
    [element]="element"
    [editable]="editable"
    *ngIf="element.child_object_content_type_model === 'shared_elements.file'"
  ></mlzeln-labbook-draw-board-file>
  }
  @placeholder {
    <p></p>
  }

  @defer (on viewport) {
  <mlzeln-labbook-draw-board-picture
    #elementComponent
    [id]="id"
    [element]="element"
    [editable]="editable"
    *ngIf="element.child_object_content_type_model === 'pictures.picture'"
  ></mlzeln-labbook-draw-board-picture>
  }
  @placeholder {
    <p></p>
  }

