<ng-container *transloco="let t">
  <mlzeln-modal class="comments-modal">
    <div slot="header">
      {{ t('comments.commentsModal.header', {name: element.display || element.subject}) }}
    </div>
    <div slot="body">
      <mlzeln-comments
              [contentType]="element.content_type"
              [create]="create"
              [id]="element.pk"
              [service]="service"
      ></mlzeln-comments>
    </div>

    <div slot="footer">
      <button type="button" class="btn mlzeln-button-big mlzeln-button-primary" (click)="on_click()">
        {{ t('comments.commentsModal.close') }}
      </button>
    </div>
  </mlzeln-modal>
</ng-container>
