$font-size: 14px;
$font-size-sm: 13px;
$font-size-md: 16px;
$main-padding-x-wide: 70px;
$main-padding-x-narrow: 20px;
$main-padding-y-wide: 40px;
$main-padding-y-narrow: 20px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1260px;
