<ng-container *transloco="let t">
  <div [class.mb-4]="margin">
    <div>
      <label [for]="for" *ngIf="label">
        {{ label }}
        <mlzeln-form-asterisk *ngIf="required" class="inline-block"></mlzeln-form-asterisk>
      </label>
      <ng-content select="[slot=label]" *ngIf="!label"></ng-content>
    </div>
    <div class="flex justify-between">
      <div class="flex-fill">
        <ng-content select="[slot=input]"></ng-content>
      </div>
      <div class="ml-2 whitespace-nowrap" [class]="buttonPosition" *ngIf="showButtons">
        <button
          type="submit"
          class="btn mlzeln-button-big mlzeln-button-primary square mr-1"
          [tooltip]="t('formInput.save.tooltip')"
          containerClass="tooltip-sm"
          [disabled]="loading || ngControl?.invalid"
        >
          <joeseln-icon className="wb-check"></joeseln-icon>
        </button>
        <button
          type="button"
          class="btn mlzeln-button-big mlzeln-button-secondary square"
          [tooltip]="t('formInput.reset.tooltip')"
          containerClass="tooltip-sm"
          [disabled]="loading"
          (click)="onCancel()"
        >
          <joeseln-icon className="wb-undo"></joeseln-icon>
        </button>
      </div>
    </div>
  </div>
</ng-container>
