<ng-container *transloco="let t">
  <mlzeln-modal class="plot-modal">
    <div slot="header">
      {{ t('labBook.plotModal.header') }}
    </div>
    <div slot="body" *ngIf="!loading">
      <ng-container *ngIf="graph.graph_type=='csv'">
        <app-plotly-editor
          [data]= "graph.graph_data">
        </app-plotly-editor>
      </ng-container>
      <ng-container *ngIf="allowedBioTypes.includes(graph.graph_type)">
        <div class="viewer-wrapper">
          <app-mol-viewer
            [plotContent]="graph.graph_data"
            [model]="graph.graph_type!">
          </app-mol-viewer>
        </div>
      </ng-container>
    </div>
        <div slot="footer">
    </div>
  </mlzeln-modal>
</ng-container>
