@import "../../../../styles/colors";
@import "../../../../styles/variables";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .labbook {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 35px;
  }

  #bg-img {
    width: auto;
    height: 950px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0;
    background-image: url("../../../../assets/images/lb.png");
  }

  ::ng-deep.description-container {
    overflow-wrap: break-word;
    max-height: 300px;
    overflow-y: auto;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  span {
    font-size: 140px;
    font-weight: 700;
    color: $primary-color;
    text-shadow: #fc0 1px 0 20px;
  }
}
