@import "../../../../styles/colors";
@import "../../../../styles/variables";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .labbook {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 35px;
  }

  #bg-img {
    width: auto;
    height: 950px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../../../assets/images/landing_landscape.png");
    background-size: contain;
  }

  ::ng-deep.description-container {
    overflow-wrap: break-word;
    max-height: 300px;
    overflow-y: auto;
  }

  @media (orientation: portrait) {
    #bg-img {
      background-image: url("../../../../assets/images/landing_portrait.png");
    }
  }
}
