<ng-container>
  <nav class="navbar navbar-light navbar-expand-lg">
    <ng-container>
      <a
        routerLink="/"
      >
        Home</a>
    </ng-container>
    <div class="line"></div>
    <ng-container>
      <a
        routerLink="/profile"
      >
        Profile</a>
    </ng-container>
    <div class="line"></div>
    <ng-container>
      <a
        routerLink="/labbooks"
      >
        Labbooks</a>
    </ng-container>
    <div class="line"></div>
    <ng-container>
      <a
        routerLink="/notes"
      >
        Notes</a>
    </ng-container>
    <div class="line"></div>
    <ng-container>
      <a
        routerLink="/pictures"
      >
        Pictures</a>
    </ng-container>
    <div class="line"></div>
    <ng-container>
      <a
        routerLink="/files"
      >
        Files</a>
    </ng-container>
    <div class="line"></div>
    <ng-container *ngIf="currentUser?.admin">
      <a
        routerLink="/admin"
      >
        Admin</a>
    </ng-container>
    <div class="line"></div>
    <ng-container *ngIf="currentUser">
      <button type="button" class="btn mlzeln-button-regular" id="logout_button"
              (click)="logout()">
        Logout
      </button>
    </ng-container>
  </nav>
</ng-container>
