<ng-container *transloco="let t">
  <mlzeln-modal [modalFooter]="false">
    <div slot="header">
      {{ t('labBook.newModal.header') }}
    </div>
    <div slot="body">
      <mlzeln-loading [loading]="loading">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" errorTailor>
          <div class="mb-4">
            <label for="title-modal">
              {{ t('labBook.newModal.title.label') }}

            </label>
            <input
              type="text"
              class="form-control mlzeln-input"
              formControlName="title"
              id="title-modal"
              name="title-modal"
              [placeholder]="t('labBook.newModal.title.placeholder')"
              autoFocus
            />
          </div>
          <div class="mb-4">
            <div class="custom-control custom-checkbox">
              <input
                class="custom-control-input"
                type="checkbox"
                formControlName="isTemplate"
                id="isTemplate-modal"
                name="isTemplate-modal"
              />
              <label class="custom-control-label font-normal" for="isTemplate-modal">{{ t('labBook.newModal.isTemplate.label') }}</label>
            </div>
          </div>
          <div class="mb-4">
            <label for="description-modal">{{ t('labBook.newModal.description.label') }}</label>
            <mlzeln-wysiwyg-editor [id]="'description-modal'" formControlName="description"></mlzeln-wysiwyg-editor>
          </div>
          <div class="mb-4">
          </div>

          <div class="modal-footer p-0 mt-5">
            <button
              *ngIf="form.dirty || duplicate"
              type="button"
              class="btn mlzeln-button-big mlzeln-button-secondary mr-2"
              (click)="modalRef.close()"
              [disabled]="loading"
            >
              {{ t('labBook.newModal.cancel') }}
            </button>
            <button
              *ngIf="form.dirty || duplicate"
              type="submit"
              class="btn mlzeln-button-big mlzeln-button-primary"
              [disabled]="loading || form.invalid"
            >
              {{ duplicate ? t('labBook.newModal.duplicate') : t('labBook.newModal.create') }}
            </button>

            <button
              *ngIf="!form.dirty && !duplicate"
              type="button"
              class="btn mlzeln-button-big mlzeln-button-primary"
              (click)="modalRef.close()"
              [disabled]="loading"
            >
              {{ t('labBook.newModal.close') }}
            </button>
          </div>
        </form>
      </mlzeln-loading>
    </div>
  </mlzeln-modal>
</ng-container>
