<ng-container *transloco="let t">
  <eworkbench-modal [modalFooter]="false">
    <div slot="header">
      {{ t('labBook.newModal.header') }}
    </div>
    <div slot="body">
      <eworkbench-loading [loading]="loading">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" errorTailor>
          <div class="mb-4">
            <label for="title-modal">
              {{ t('labBook.newModal.title.label') }}



            </label>
            <input
                    type="text"
                    class="form-control ewb-input"
                    formControlName="title"
                    id="title-modal"
                    name="title-modal"
                    [placeholder]="t('labBook.newModal.title.placeholder')"
                    autoFocus
            />
          </div>
          <div class="mb-4">
            <div class="custom-control custom-checkbox">
              <input
                      class="custom-control-input"
                      type="checkbox"
                      formControlName="isTemplate"
                      id="isTemplate-modal"
                      name="isTemplate-modal"
              />
              <label class="custom-control-label font-normal"
                     for="isTemplate-modal">{{ t('labBook.newModal.isTemplate.label') }}</label>
            </div>
          </div>
          <div class="mb-4">
            <label for="description-modal">{{ t('labBook.newModal.description.label') }}</label>
            <eworkbench-wysiwyg-editor [id]="'description-modal'"
                                       formControlName="description"></eworkbench-wysiwyg-editor>
          </div>


          <div *ngIf="new_labbook_pk">
            <div class="custom-file">
              <input type="file" class="custom-file-input"
                     (change)="onUpload($event)" id="file-modal"
                     name="file-modal" multiple/>
              <label for="file-modal" class="custom-file-label ewb-input-file"
                     [class.custom-file-label-filled]="file_f.file.value">{{
                  filePlaceholder
                }}</label>
            </div>
          </div>

          <div class="modal-footer p-0 mt-5">
            <button
                    *ngIf="form.dirty || duplicate"
                    type="button"
                    class="btn ewb-button-big ewb-button-secondary mr-2"
                    (click)="modalRef.close()"
                    [disabled]="loading"
            >
              {{ t('labBook.newModal.cancel') }}
            </button>
            <button
                    *ngIf="(form.dirty || duplicate) && !new_labbook_pk"
                    type="submit"

                    class="btn ewb-button-big ewb-button-primary"
                    [disabled]="loading || form.invalid"
            >
              {{ duplicate ? t('labBook.newModal.duplicate') : 'Create Labbook and Select Zip File' }}
            </button>

            <button
                    id='proceed_button'
                    *ngIf="new_labbook_pk"
                    type="button"
                    class="btn ewb-button-big ewb-button-primary"
                    (click)="onZipProceed()"
                    [disabled]="loading"
            >
              {{ 'Proceed' }}
            </button>

            <button
                    *ngIf="!form.dirty && !duplicate"
                    type="button"
                    class="btn ewb-button-big ewb-button-primary"
                    (click)="modalRef.close()"
                    [disabled]="loading"
            >
              {{ t('labBook.newModal.close') }}
            </button>

          </div>
        </form>
      </eworkbench-loading>
    </div>
  </eworkbench-modal>
</ng-container>
