<ng-container *transloco="let t">
  <mlzeln-modal [modalFooter]="false">
    <div slot="header">
      {{ t('group.newModal.header') }}
    </div>
    <div slot="body">
      <mlzeln-loading [loading]="loading">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" errorTailor>
          <div class="mb-4">
            <label for="groupname-modal">
              {{ t('group.newModal.groupname.label') }}
              <mlzeln-form-asterisk
                class="inline-block"></mlzeln-form-asterisk>
            </label>
            <input
              type="text"
              class="form-control mlzeln-input"
              formControlName="groupname"
              id="groupname-modal"
              name="groupname-modal"
              [placeholder]="t('group.newModal.groupname.placeholder')"
            />
          </div>
          <div class="modal-footer p-0 mt-5">
            <button type="button"
                    class="btn mlzeln-button-big mlzeln-button-secondary mr-2"
                    [disabled]="loading" (click)="modalRef.close()">
              {{ t('group.newModal.cancel') }}
            </button>
            <button type="submit" class="btn mlzeln-button-big mlzeln-button-primary"
                    [disabled]="loading || form.invalid">
              {{ t('group.newModal.create') }}
            </button>
          </div>
        </form>
      </mlzeln-loading>
    </div>
  </mlzeln-modal>
</ng-container>
