<ng-container *ngIf="initialState">
  <ng-container *transloco="let t">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="element"
          errorTailor>
      <div
        class="header flex justify-between header-container"
        [id]="title_id"
        #title
      >
            <div class="flex-fill">
              <mlzeln-form-input [for]="'title-' + uniqueHash"
                                     [loading]="loading" [margin]="false">
                <input [style]=this.background_color
                       type="text"
                       class="form-control mlzeln-input"
                       [id]="'title-' + uniqueHash"
                       formControlName="file_title"
                       name="title"
                       [placeholder]="t('labBook.drawBoardFile.details.title.placeholder')"
                       slot="input"
                       [readOnly]= "!editable"
                />
              </mlzeln-form-input>
            </div>
            <div class="ml-2 self-center">
              <span class="mlzeln-button-big mlzeln-button-background"
                    [id]="span_id"
                    #span
                    style="visibility: hidden; text-align: center">Conflict</span>

              <button type="button"
                      class="btn mlzeln-button-big mlzeln-button-background"
                      (click)="create_new_note_below()"
                      *ngIf="editable">
                NoteBelow
              </button>
              <button type="button"
                      class="btn mlzeln-button-big mlzeln-button-background"
                      (click)="create_new_note_aside()"
                      *ngIf="editable">
                NoteAside
              </button>
              <button type="button"
                      class="btn mlzeln-button-big mlzeln-button-background"
                      (click)="onOpenCommentsModal()"
                      *ngIf="editable">
                <joeseln-icon className="wb-comment"
                              class="mr-1"></joeseln-icon>
                <ng-container *ngIf="!element.num_related_comments">
                  {{ t('labBook.drawBoard.element.footer.createComment') }}
                </ng-container>
                <ng-container
                  *ngIf="element.num_related_comments && element.num_related_comments === 1">
                  {{ t('labBook.drawBoard.element.footer.comment', {count: element.num_related_comments}) }}
                </ng-container>
                <ng-container
                  *ngIf="element.num_related_comments && element.num_related_comments > 1">
                  {{ t('labBook.drawBoard.element.footer.comments', {count: element.num_related_comments}) }}
                </ng-container>
              </button>
              <button type="button" class="btn mlzeln-button-big"
                      (click)="toggle_editor()"
                      *ngIf="editable"
                      [disabled]="privileges ? !privileges!.edit : true">
                {{ !editor_loaded ? 'Open Editor' : 'Close Editor' }}
              </button>
              <button type="button" class="btn mlzeln-button-big"
                      (click)="graph_loaded = !graph_loaded;"
                      [disabled]="!graph_exists">
                Load Plot
              </button>
              <button type="button"
                      class="btn mlzeln-button-big square-md mlzeln-button-none cursor-move drag-handle mr-2"
                      *ngIf="editable">
                <joeseln-icon className="wb-arrow-cross"></joeseln-icon>
              </button>
              <mlzeln-labbook-element-dropdown
                *ngIf="editable"
                [service]="filesService"
                [id]="initialState.pk"
                [labBookId]="id"
                [elementId]="element.pk"
                [section]="section"
                [initialState]="initialState"
                routerBaseLink="/files"
                [privileges]="privileges"
                [labBookEditable]="editable"
              ></mlzeln-labbook-element-dropdown>
            </div>
          </div>
      <div class="body" [id]="'description-' + uniqueHash">
        <!--        <mlzeln-lock [id]="element.child_object_id" [lock]="lock" [lockUser]="lockUser"-->
        <!--                         [service]="filesService"></mlzeln-lock>-->
        <div class="mb-3">
          <alert type="info">
            <div class="text-center">
              <button
                type="button"
                class="btn btn-lg bg-transparent"
                [authDownload]="{ url: initialState.download!, fileName: initialState.original_filename! }"
              >
                <joeseln-icon className="wb-download"
                              class="mr-1"></joeseln-icon>
                {{ initialState.name }}
                ({{ initialState.file_size | formatFileSize }})
              </button>
            </div>
          </alert>
        </div>
        <ng-container *ngIf="editor_loaded">
          <mlzeln-form-input [for]="'description-' + uniqueHash"
                                 [loading]="loading" [margin]="false"
          *ngIf="editable">
            <!--          <mlzeln-wysiwyg-editor-->
            <!--            [id]="'description-' + uniqueHash"-->
            <!--            formControlName="file_description"-->
            <!--            [inline] = true-->
            <!--            slot="input"-->
            <!--          ></mlzeln-wysiwyg-editor>-->
            <mlzeln-wysiwyg-editor
              [id]="'description-' + uniqueHash"
              [maxHeight]="undefined"
              [actual_height]=height
              [inline]=false
              formControlName="file_description"
              slot="input"
            ></mlzeln-wysiwyg-editor>
            <!--            <mlzeln-wysiwyg-editor *ngIf="toolbar_shown===false"-->
            <!--                                       [id]="'content-' + uniqueHash"-->
            <!--                                       [inline]=false-->
            <!--                                       formControlName="file_description"-->
            <!--                                       slot="input"-->
            <!--            ></mlzeln-wysiwyg-editor>-->
          </mlzeln-form-input>
        </ng-container>
        <ng-container>
          <div [id]="preloaded_id" #preload [hidden]=editor_loaded>
          </div>
        </ng-container>
        <ng-container *ngIf="graph_exists && graph_loaded">
          <ng-template ngFor let-i="index" [ngForOf]="graph_data">
            <app-plotly-editor [data]="graph_data[i][1]"
                               [layout]="graph_data[i][0]"
                               [config]="config"></app-plotly-editor>
          </ng-template>
        </ng-container>
      </div>
      <!--      <div class="footer">-->
      <!--        <div>-->
      <!--          {{ t('labBook.drawBoard.element.footer.lastModifiedBy') }}-->
      <!--          <mlzeln-user-details-->
      <!--            [user]="element.child_object.last_modified_by"-->
      <!--            class="last-modified-by"></mlzeln-user-details>-->
      <!--          {{ t('labBook.drawBoard.element.footer.lastModifiedAt.at') }}-->
      <!--          {{ element.child_object.last_modified_at | formatDate}}-->
      <!--        </div>-->
      <!--        <div class="actions">-->
      <!--          &lt;!&ndash;          <a [routerLink]="['/files', element.child_object_id]" target="_blank">&ndash;&gt;-->
      <!--          &lt;!&ndash;            <button type="button" class="btn mlzeln-button-big mlzeln-button-background mr-2">&ndash;&gt;-->
      <!--          &lt;!&ndash;              <joeseln-icon className="wb-link" class="mr-1"></joeseln-icon>&ndash;&gt;-->
      <!--          &lt;!&ndash;              <ng-container *ngIf="!element.num_relations">&ndash;&gt;-->
      <!--          &lt;!&ndash;                {{ t('labBook.drawBoard.element.footer.linkWith') }}&ndash;&gt;-->
      <!--          &lt;!&ndash;              </ng-container>&ndash;&gt;-->
      <!--          &lt;!&ndash;              <ng-container *ngIf="element.num_relations && element.num_relations === 1">&ndash;&gt;-->
      <!--          &lt;!&ndash;                {{ t('labBook.drawBoard.element.footer.link', { count: element.num_relations }) }}&ndash;&gt;-->
      <!--          &lt;!&ndash;              </ng-container>&ndash;&gt;-->
      <!--          &lt;!&ndash;              <ng-container *ngIf="element.num_relations && element.num_relations > 1">&ndash;&gt;-->
      <!--          &lt;!&ndash;                {{ t('labBook.drawBoard.element.footer.links', { count: element.num_relations }) }}&ndash;&gt;-->
      <!--          &lt;!&ndash;              </ng-container>&ndash;&gt;-->
      <!--          &lt;!&ndash;            </button>&ndash;&gt;-->
      <!--          &lt;!&ndash;          </a>&ndash;&gt;-->
      <!--          <button type="button" class="btn mlzeln-button-big mlzeln-button-background"-->
      <!--                  (click)="create_new_note_below()">-->
      <!--            NoteBelow-->
      <!--          </button>-->
      <!--          <button type="button" class="btn mlzeln-button-big mlzeln-button-background"-->
      <!--                  (click)="onOpenCommentsModal()">-->
      <!--            <joeseln-icon className="wb-comment" class="mr-1"></joeseln-icon>-->
      <!--            <ng-container *ngIf="!element.num_related_comments">-->
      <!--              {{ t('labBook.drawBoard.element.footer.createComment') }}-->
      <!--            </ng-container>-->
      <!--            <ng-container-->
      <!--              *ngIf="element.num_related_comments && element.num_related_comments === 1">-->
      <!--              {{ t('labBook.drawBoard.element.footer.comment', {count: element.num_related_comments}) }}-->
      <!--            </ng-container>-->
      <!--            <ng-container-->
      <!--              *ngIf="element.num_related_comments && element.num_related_comments > 1">-->
      <!--              {{ t('labBook.drawBoard.element.footer.comments', {count: element.num_related_comments}) }}-->
      <!--            </ng-container>-->
      <!--          </button>-->
      <!--        </div>-->
      <!--      </div>-->
    </form>
  </ng-container>
</ng-container>
