<ng-container *transloco="let t">
  <div style="display: flex; justify-content: center">
    <div style="width: 50% !important;">
      <eworkbench-global-search></eworkbench-global-search>
    </div>
  </div>
  <ng-container slot="search">
    <div class="flex items-center "
         style="display: flex; justify-content: center">
      <div class="search-input">
        <div class="input-group search-input-group">
          <input
            type="text"
            class="form-control ewb-input"
            id="search-header"
            name="search-header"
            [formControl]="searchControl"
            [placeholder]="t('labbooks.header.search.placeholder')"
          />
          <button type="button" class="btn btn-sm bg-transparent clear-input"
                  *ngIf="!searchControl.value">
            <joeseln-icon className="wb-search"></joeseln-icon>
          </button>
          <button
            type="button"
            class="btn btn-sm bg-transparent clear-input"
            (click)="searchControl.patchValue(null)"
            *ngIf="searchControl.value"
          >
            <joeseln-icon className="wb-remove"></joeseln-icon>
          </button>
        </div>
      </div>
    </div>
  </ng-container>
  <div style="display: flex; justify-content: center">
    <button class="btn ewb-button-big ewb-button-background" style=""
            *ngIf="add_wb_button"
            (click)="openNewModal()">
      <joeseln-icon className="wb-plus-circle"></joeseln-icon>
      {{ t('labbooks.labbook') }}
    </button>
  </div>
</ng-container>

<div [class.filter-sidebar]="!showSidebar" [class.with-sidebar]="showSidebar">
  <aside *ngIf="showSidebar">
  </aside>

  <main>
    <div
      class="flex justify-between pb-4 mb-5 border-0 border-b-[3px] border-solid border-tum-border-gray">
      <eworkbench-trashed-items-filter
        (stateChanged)="onFilterItems($event)"></eworkbench-trashed-items-filter>
      <eworkbench-table-manage-columns
        class="flex justify-end"
        [columns]="listColumns"
        [defaultColumns]="defaultColumns"
        (columnsChanged)="onColumnsChanged($event)"
      ></eworkbench-table-manage-columns>
    </div>



    <eworkbench-table-view
      #tableView
      [columns]="listColumns"
      [service]="labbooksService"
      [params]="params"
      [skipInit]="showSidebar"
      [sortBy]="sorting?.key"
      [sort]="sorting?.direction"
      (orderChanged)="onColumnsChanged($event)"
      (sortChanged)="onSortChanged($event)"
    ></eworkbench-table-view>
  </main>

  <ng-container *transloco="let t">
    <aside>
    </aside>
  </ng-container>
</div>

<ng-template #titleCellTemplate let-row>
  <div ellipsis [tooltip]="row.title" containerClass="tooltip-sm" [delay]="500">
    <a
      [routerLink]="[showSidebar ? '.' : '' + '/labbooks', row.pk]">{{ row.title }}</a>
  </div>
</ng-template>
<ng-template #createdAtCellTemplate let-row>
  {{ row.created_at | formatDate }}
</ng-template>
<ng-template #createdByCellTemplate let-row>
  <eworkbench-user-details [user]="row.created_by"></eworkbench-user-details>
</ng-template>
<ng-template #lastUpdatedAtCellTemplate let-row>
  {{ row.last_modified_at | formatDate }}
</ng-template>
<ng-template #lastUpdatedByCellTemplate let-row>
  <eworkbench-user-details
    [user]="row.last_modified_by"></eworkbench-user-details>
</ng-template>
<ng-template #actionsCellTemplate let-row>
  <div class="whitespace-nowrap text-right">
    <eworkbench-trash-button
      *ngIf="!row.deleted && currentUser && currentUser.admin"
      class="inline-block"
      [service]="labbooksService"
      [id]="row.pk"
      [tableView]="tableView"
    ></eworkbench-trash-button>
    <eworkbench-restore-button
      *ngIf="row.deleted && currentUser && currentUser.admin"
      class="inline-block"
      [service]="labbooksService"
      [id]="row.pk"
      [tableView]="tableView"
      (restored)="onRestore($event)"
    ></eworkbench-restore-button>
  </div>
</ng-template>
