<ng-container *transloco="let t">
  <eworkbench-loading [loading]="loading">
    <ng-container *ngIf="file">
      <div class="mb-4">
        <label for="title-modal">{{ t('file.details.title.label') }}</label>
        <input
          type="text"
          class="form-control ewb-input"
          id="title-modal"
          [placeholder]="t('file.details.title.placeholder')"
          [disabled]="true"
          [value]="file.title"
        />
      </div>
      <div class="mb-4">
        <label for="name-modal">{{ t('file.details.name.label') }}</label>
        <input
          type="text"
          class="form-control ewb-input"
          id="name-modal"
          [placeholder]="t('file.details.name.placeholder')"
          [disabled]="true"
          [value]="file.name"
        />
      </div>
      <div class="mb-4">
      </div>
      <div class="mb-4">
        <label for="description-modal">{{ t('file.details.description.label') }}</label>
        <eworkbench-wysiwyg-editor [id]="'description-modal'" [formControl]="descriptionFormControl"></eworkbench-wysiwyg-editor>
      </div>

      <div class="modal-footer p-0 mt-5">
        <button type="button" class="btn ewb-button-big ewb-button-secondary mr-2" (click)="modalRef.close()" [disabled]="loading">
          {{ t('versions.previewModal.close') }}
        </button>
        <button type="button" class="btn ewb-button-big ewb-button-primary" (click)="onRestoreVersion()" [disabled]="loading">
          {{ t('versions.previewModal.restoreVersion') }}
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="!loading && !file">
      <alert type="danger">
        <joeseln-icon className="wb-exclamation"></joeseln-icon>
        {{ t('versions.previewModal.notice.failedToLoad') }}
      </alert>
    </ng-container>
  </eworkbench-loading>
</ng-container>
