<ng-container *transloco="let t">
  <div class="p-6 border-b" [ngClass]="{ 'bg-tum-highlight': currentUser?.pk === comment.left_content_object.created_by.pk }">
    <div class="flex justify-between mb-4">
      <div class="flex space-x-1">
        <div>
          <div class="text-gray-600">
            {{ comment.left_content_object.created_at | formatDate }}
          </div>
        </div>
      </div>
      <div class="self-center" *ngIf="currentUser?.pk === currentUser?.pk ">
        <button (click)="onOpenDeleteModal()" [disabled]="loading"
                class="btn mlzeln-button-small" type="button">
          <joeseln-icon
                  [tooltip]="t('comments.deleteComment.tooltip')"
                  className="wb-remove"
                  containerClass="tooltip-sm"
          ></joeseln-icon>
        </button>
      </div>
    </div>
    <div class="comment-content-wrapper">
      <div class="font-bold mb-2">{{ comment.left_content_object.subject }}</div>
      <div [innerHTML]="comment.left_content_object.content"></div>
    </div>

  </div>
</ng-container>
