@import '../../../../styles/colors';
@import '../../../../styles/variables';


:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .labbook {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 35px;
  }

  ::ng-deep.description-container {
    overflow-wrap: break-word;
    max-height: 300px;
    overflow-y: auto;

    img {
      max-width: 100%;
      height: auto;
    }
  }
  span {
    font-size: 140px;
    color: $primary-color;
    text-shadow: #FC0 1px 0 20px;
  }
}
