<ng-container *transloco="let t">
  <mlzeln-modal [modalFooter]="false">
    <div slot="header">
      {{ t(headerTranslationKey) }}
    </div>
    <div slot="body">
      <mlzeln-loading [loading]="loading">
        <div class="comment-container">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mlzeln-wysiwyg-editor class="mt-1" formControlName="content"></mlzeln-wysiwyg-editor>
            <div class="modal-footer p-0 mt-5">
              <button type="button" class="btn mlzeln-button-big mlzeln-button-primary mr-2" [disabled]="loading" (click)="modalRef.close()">
                {{ t('shared.descriptionModal.cancel') }}
              </button>
              <button type="submit" class="btn mlzeln-button-big mlzeln-button-primary" [disabled]="loading || form.invalid">
                {{ t(headerTranslationKey) }}
              </button>
            </div>
          </form>
        </div>
      </mlzeln-loading>
    </div>
  </mlzeln-modal>
</ng-container>
