<ng-container *transloco="let t">
  <eworkbench-modal [modalFooter]="false">
    <div slot="header">
      {{ t('versions.previewModal.header') }}
      <ng-container *ngIf="versionNumber">{{ versionNumber }}</ng-container>
    </div>
    <div slot="body">
      <div class="mb-4">
        <label
          for="versionCreated">{{ t('versions.previewModal.versionCreated.label') }}</label>
        <div class="flex items-center" id="versionCreated">
          <span
            class="mr-2">{{ version.created_at| formatDate }}{{ ' ' }}{{ t('versions.by') }}</span>
          <eworkbench-user-details class="inline-block"
                                   [user]="version.created_by"
                                   [modal]="false"></eworkbench-user-details>
        </div>
      </div>
      <div class="mb-4">
        <label
          for="versionSummary">{{ t('versions.previewModal.versionSummary.label') }}</label>
        <div id="versionSummary">
          {{ version.summary || t('formInput.notDefined.placeholder') }}
        </div>
      </div>
      <hr/>
    </div>
  </eworkbench-modal>


  <eworkbench-note-preview
    *ngIf="contentType === 'note'"
    [id]="version.object_id"
    [version]="version.pk"
    [versionInProgress]="versionInProgress"
    [modalRef]="modalRef"
    (closed)="onModalClose($event)"
  ></eworkbench-note-preview>


  <eworkbench-labbook-preview
    *ngIf="contentType === 'labBook'"
    [id]="version.object_id"
    [version]="version.pk"
    [versionInProgress]="versionInProgress"
    [modalRef]="modalRef"
    (closed)="onModalClose($event)"
  ></eworkbench-labbook-preview>


  <eworkbench-file-preview
    *ngIf="contentType === 'file'"
    [id]="version.object_id"
    [version]="version.pk"
    [versionInProgress]="versionInProgress"
    [modalRef]="modalRef"
    (closed)="onModalClose($event)"
  ></eworkbench-file-preview>

  <eworkbench-picture-preview
    *ngIf="contentType === 'picture'"
    [id]="version.object_id"
    [version]="version.pk"
    [versionInProgress]="versionInProgress"
    [modalRef]="modalRef"
    (closed)="onModalClose($event)"
  ></eworkbench-picture-preview>

</ng-container>
