<div class="collapse-element" [class.bg-white]="background">
  <div class="collapse-element-header px-2 pt-2" [class.align-items-center]="center">
    <button
      *ngIf="collapsible"
      type="button"
      class="btn mlzeln-button-small close-button mr-2"
      [attr.aria-expanded]="!collapsed"
      aria-controls="collapseBasic"
      (click)="onToggleCollapse()"
    >
      <joeseln-icon *ngIf="collapsed" className="wb-plus"></joeseln-icon>
      <joeseln-icon *ngIf="!collapsed" className="wb-minus"></joeseln-icon>
    </button>
    <span *ngIf="labelText"> {{ labelText }}</span>
    <ng-template *ngIf="labelTemplate" [ngTemplateOutlet]="labelTemplate" [ngTemplateOutletContext]="{ $implicit: element }"></ng-template>
  </div>
  <div class="collapse-element-body mt-4" [collapse]="collapsed">
    <ng-content></ng-content>
  </div>
</div>
