@import "../../../../styles/colors";
@import "../../../../styles/variables";

:host {
  display: block;

  .collapse-element {
    &-header {
      display: flex;

      .close-button {
        font-size: 11px;
        color: #000;
        background-color: $secondary-color;
      }

      .square {
        height: 20px;
        width: 20px;
        padding: 0;
      }
    }

    &-body {
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      background-color: $secondary-color;
      padding: 1.5rem 2rem;

      ::ng-deep {
        p:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
