<ng-container *transloco="let t">

  <ng-container slot="search">
    <div class="flex items-center"
         style="display: flex; justify-content: center">
      <div class="search-input">
        <div class="input-group search-input-group">
          <input
            type="text"
            class="form-control mlzeln-input"
            id="search-header"
            name="search-header"
            [formControl]="searchControl"
            [placeholder]="t('notes.header.search.placeholder')"
          />
          <button type="button" class="btn btn-sm bg-transparent clear-input"
                  *ngIf="!searchControl.value">
            <joeseln-icon className="wb-search"></joeseln-icon>
          </button>
          <button
            type="button"
            class="btn btn-sm bg-transparent clear-input"
            (click)="searchControl.patchValue(null)"
            *ngIf="searchControl.value"
          >
            <joeseln-icon className="wb-remove"></joeseln-icon>
          </button>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container slot="elements">
  </ng-container>
  <div class="title">
    {{title}}'s <h4>{{t('user.groupUsers')}}</h4>
  </div>
</ng-container>

<div class="filter-sidebar">
  <main>
    <div
      class="flex justify-between pb-4 mb-5 border-0 border-b-[3px] border-solid border-tum-border-gray">
      <mlzeln-trashed-items-filter
        [filterTextLeft]="'users.filter.userInGroup'"
        [filterTextRight]="'users.filter.userNotInGroup'"
        (stateChanged)="onFilterItems($event)"></mlzeln-trashed-items-filter>
      <mlzeln-table-manage-columns
        class="flex justify-end"
        [columns]="listColumns"
        [defaultColumns]="defaultColumns"
        (columnsChanged)="onColumnsChanged($event)"
      ></mlzeln-table-manage-columns>
    </div>

    <mlzeln-table-view
      #tableView
      [columns]="listColumns"
      [service]="admin_group_users_service"
      [params]="params"
      [customId]="id"
      [sortBy]="sorting?.key"
      [sort]="sorting?.direction"
      (orderChanged)="onColumnsChanged($event)"
      (sortChanged)="onSortChanged($event)"
    ></mlzeln-table-view>
  </main>

  <ng-container *transloco="let t">
    <aside>

    </aside>
  </ng-container>
</div>

<ng-template #subjectCellTemplate let-row>
  <div ellipsis [tooltip]="row.username" containerClass="tooltip-sm"
       [delay]="500">
    <a [routerLink]="['/admin/users', row.id]">{{ row.username }}</a>
  </div>
</ng-template>
<ng-template #createdAtCellTemplate let-row>
  {{ row.created_at | formatDate }}
</ng-template>
<ng-template #createdByCellTemplate let-row>
  <mlzeln-user-details [user]="row.created_by"></mlzeln-user-details>
</ng-template>
<ng-template #lastModifiedAtCellTemplate let-row>
  {{ row.last_modified_at | formatDate }}
</ng-template>
<ng-template #lastModifiedByCellTemplate let-row>
  <mlzeln-user-details
    [user]="row.last_modified_by"></mlzeln-user-details>
</ng-template>
<ng-template #actionsCellTemplate let-row>
  <div class="whitespace-nowrap text-right">
    <mlzeln-trash-button
      *ngIf="row.in_group"
      class="inline-block"
      [hoverText]="'user.bottom.removeFromGroup'"
      [service]="admin_group_users_service"
      [id]="row.id"
      [customId]="id"
      [tableView]="tableView"
    ></mlzeln-trash-button>
    <mlzeln-restore-button
      *ngIf="!row.in_group"
      class="inline-block"
      [hoverText]="'user.bottom.addToGroup'"
      [service]="admin_group_users_service"
      [id]="row.id"
      [customId]="id"
      [tableView]="tableView"
      (restored)="onRestore($event)"
    ></mlzeln-restore-button>
  </div>
</ng-template>
