<ng-container *transloco="let t">
  <mlzeln-modal>
    <div slot="header">
      {{ t('recentChanges.recentChangesModal.header') }}
    </div>
    <div slot="body">
      <mlzeln-recent-changes [service]="service" [changesId]="id"></mlzeln-recent-changes>
    </div>
    <div slot="footer">
      <button type="button" class="btn mlzeln-button-big mlzeln-button-secondary" (click)="modalRef.close()">
        {{ t('recentChanges.recentChangesModal.close') }}
      </button>
    </div>
  </mlzeln-modal>
</ng-container>
