:host {
  display: block;

  .comment-container {
    @media (width <= 575px) {
      .avatar {
        display: none;
      }
    }

    @media (width >= 576px) {
      display: grid;
      grid-template-columns: 125px auto;
      gap: 10px;
    }
  }
}
