<ng-container *transloco="let t">
  <div class="sidebar" [style.position]="sidebarPosition"
       [style.top.px]="offsetHeader + offsetMargin">
    <ul class="list-unstyled m-0">
      <li>
        <button
          type="button"
          class="btn ewb-button-regular text-white"
          [tooltip]="t('labBook.sidebar.add.note.tooltip')"
          containerClass="tooltip-sm"
          placement="right top"
          [disabled]="!editable"
          (click)="onOpenNewNoteElementModal()"
        >
          <joeseln-icon className="wb-comment"></joeseln-icon>
        </button>
      </li>
      <li>
        <button
          type="button"
          class="btn ewb-button-regular text-white"
          [tooltip]="t('labBook.sidebar.add.sketch.tooltip')"
          containerClass="tooltip-sm"
          placement="right"
          [disabled]="!editable"
          (click)="onOpenSketchModal()"
        >
          <joeseln-icon className="wb-pen"></joeseln-icon>
        </button>
      </li>
      <li>
        <button
          type="button"
          class="btn ewb-button-regular text-white"
          [tooltip]="t('labBook.sidebar.add.picture.tooltip')"
          containerClass="tooltip-sm"
          placement="right"
          [disabled]="!editable"
          (click)="onOpenNewPictureElementModal()"
        >
          <joeseln-icon className="wb-image"></joeseln-icon>
        </button>
      </li>
      <li>
        <button
          type="button"
          class="btn ewb-button-regular text-white"
          [tooltip]="t('labBook.sidebar.add.file.tooltip')"
          containerClass="tooltip-sm"
          placement="right"
          [disabled]="!editable"
          (click)="onOpenNewFileElementModal()"
        >
          <joeseln-icon className="wb-files"></joeseln-icon>
        </button>
      </li>
      <li style="height: 1px; background-color: white"></li>
      <li>
        <button
          type="button"
          class="btn ewb-button-regular text-white"
          [tooltip]="'Go to Page Top'"
          containerClass="tooltip-sm"
          placement="bottom left"
          [disabled]="!editable"
          (click)="gotoTop()"
        >
          Top
        </button>
      </li>
      <li style="height: 1px; background-color: white"></li>
      <li>
        <button
          type="button"
          class="btn ewb-button-regular text-white"
          [tooltip]="'Restructure this Labbook'"
          containerClass="tooltip-sm"
          placement="bottom left"
          [disabled]="!editable"
          (click)="restructure()"
        >
          RS
        </button>
      </li>
      <li style="height: 1px; background-color: white"></li>
      <li>
        <button
          type="button"
          class="btn ewb-button-regular text-white"
          [tooltip]="'Generate QR CODE'"
          containerClass="tooltip-sm"
          placement="bottom left"
          [disabled]="!editable"
          (click)="onOpenQRCodeModal()"
        >
          QR
        </button>
      </li>
    </ul>
  </div>
</ng-container>
