<ng-container *transloco="let t">
  <div style="text-align: center"><strong>{{detailsTitle}}</strong>
  </div>
</ng-container>

<div *ngIf="!initialState" [class.with-sidebar]="showSidebar">
  <aside *ngIf="showSidebar">
    <eworkbench-sidebar-skeleton></eworkbench-sidebar-skeleton>
  </aside>
</div>

<ng-container *ngIf="initialState">
  <ng-container *transloco="let t">
    <div [class.with-sidebar]="showSidebar">
      <aside *ngIf="showSidebar">
      </aside>
      <main>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="note"
              errorTailor>
          <div>
            <eworkbench-details-collapse-element
              [labelText]="t('note.details.element.details')">
              <ng-container slot="body">
                <div class="mb-4">
                  <eworkbench-form-input
                    for="username"
                    [label]="t('user.details.username.label')"
                    [loading]="loading"
                    [onSubmit]="refreshResetValue"
                    [required]="true"
                  >
                    <input
                      type="text"
                      class="form-control ewb-input"
                      id="username"
                      formControlName="username"
                      name="username"
                      [placeholder]="t('user.details.username.placeholder')"
                      slot="input"
                    />
                  </eworkbench-form-input>
                </div>

                <div class="mb-4">
                  <eworkbench-form-input
                    for="first_name"
                    [label]="t('user.details.first_name.label')"
                    [loading]="loading"
                    [onSubmit]="refreshResetValue"
                    [required]="true"
                  >
                    <input
                      type="text"
                      class="form-control ewb-input"
                      id="first_name"
                      formControlName="first_name"
                      name="first_name"
                      [placeholder]="t('user.details.first_name.placeholder')"
                      slot="input"
                    />
                  </eworkbench-form-input>
                </div>
                <div class="mb-4">
                  <eworkbench-form-input
                    for="last_name"
                    [label]="t('user.details.last_name.label')"
                    [loading]="loading"
                    [onSubmit]="refreshResetValue"
                    [required]="true"
                  >
                    <input
                      type="text"
                      class="form-control ewb-input"
                      id="last_name"
                      formControlName="last_name"
                      name="last_name"
                      [placeholder]="t('user.details.last_name.placeholder')"
                      slot="input"
                    />
                  </eworkbench-form-input>
                </div>

                <div class="mb-4">
                  <eworkbench-form-input
                    for="user_email"
                    [label]="t('user.details.email.label')"
                    [loading]="loading"
                    [onSubmit]="refreshResetValue"
                    [required]="true"
                  >
                    <input
                      type="text"
                      class="form-control ewb-input"
                      id="user_email"
                      formControlName="user_email"
                      name="user_email"
                      [placeholder]="t('user.details.email.placeholder')"
                      slot="input"
                    />
                  </eworkbench-form-input>
                </div>
              </ng-container>
            </eworkbench-details-collapse-element>
          </div>


    <eworkbench-details-collapse-element
      [labelText]="t('user.details.groupInfo')">
          <ng-container slot="body">
              <div class="mb-4">
                  <eworkbench-form-input
                    for="user_groups"
                    [label]="t('user.details.group')"
                    [loading]="loading"
                    [onSubmit]="refreshResetValue"
                  >
                    <textarea
                      class="form-control ewb-input"
                      id="user_groups"
                      name="user_groups"
                      [value]="user_groups ? user_groups.join('\n') : ''"
                      readonly
                      slot="input"
                      rows="5"
                    ></textarea>
                  </eworkbench-form-input>
              </div>
              <div class="mb-4">
                  <eworkbench-form-input
                    for="user_group_admins"
                    [label]="t('user.details.groupadmin')"
                    [loading]="loading"
                    [onSubmit]="refreshResetValue"
                  >
                    <textarea
                      class="form-control ewb-input"
                      id="user_group_admins"
                      name="user_groups"
                      [value]="admin_groups ? admin_groups.join('\n') : ''"
                      readonly
                      slot="input"
                      rows="5"
                    ></textarea>
                  </eworkbench-form-input>
              </div>
          </ng-container>
    </eworkbench-details-collapse-element>
    </form>

    <eworkbench-details-collapse-element
      [labelText]="t('user.details.password_reset.label')" *ngIf=!initialState.oidc_user>
          <ng-container slot="body">
        <form [formGroup]="passwword_form" (ngSubmit)="password_reset()"
              errorTailor>
              <div class="mb-4">
                <eworkbench-form-input
                  for="password_patch"
                  [label]="t('user.details.password_reset.label')"
                  [loading]="loading"
                  [onSubmit]="refreshResetValue"
                  [required]="true"
                >
                  <input style="width: 30%"
                         type="password"
                         autocomplete="off"
                         readonly
                         onfocus="this.removeAttribute('readonly');"
                         class="form-control ewb-input"
                         id="password_patch"
                         formControlName="password_patch"
                         name="password_patch"
                         slot="input"
                  />
                </eworkbench-form-input>
              </div>
            </form>
            <div style="width: 30%">Password must contain at least one lowercase
              letter, one uppercase letter, one digit, one special character, and
              must be between eight
              and sixteen characters in length.
            </div>
          </ng-container>
      </eworkbench-details-collapse-element>

      </main>
    </div>
  </ng-container>
</ng-container>
