<ng-container>
  <ng-container *transloco="let t">
    <div [class.with-sidebar]="showSidebar">
      <aside *ngIf="showSidebar">

      </aside>
      <main style="padding: 0 1%  1% 1%">

        <div style="text-align: center"><strong>{{detailsTitle}}</strong>
          <eworkbench-details-dropdown
                  [is_labbook]='true'
                  [service]="labBooksService"
                  [id]="id"
                  [redirectDestination]="[showSidebar ? '.' : '' + '/labbooks', id]"
                  [newModalComponent]="newModalComponent"
                  [initialState]="initialState"
                  [duplicateElement]="false"
                  [privileges]="privileges"
                  *ngIf="privileges"
          ></eworkbench-details-dropdown>
        </div>

        <eworkbench-overview-collapse-element class="mb-4" [collapsed]="true"
                                              style="margin-bottom: 2px !important; background-color: rgba(0, 49, 97, 0.04); border-radius: 10px;">
          <form [formGroup]="form" (ngSubmit)="onSubmit()" class="labbook"
                errorTailor>
            <div>
              <eworkbench-details-collapse-element
                [labelText]="t('labBook.details.element.details')">
                <ng-container slot="body">
                  <div class="mb-4">
                    <eworkbench-form-input
                      [id]="title_id"
                      for="title"
                      [label]="t('labBook.details.title.label')"
                      [loading]="loading"
                      [onSubmit]="refreshResetValue"
                      [required]="true"
                    >
                      <input
                        type="text"
                        class="form-control ewb-input"
                        id="title"
                        formControlName="labbook_title"
                        name="title"
                        [placeholder]="t('labBook.details.title.placeholder')"
                        slot="input"
                      />
                    </eworkbench-form-input>
                  </div>
                  <div class="mb-4">
                    <eworkbench-form-input for="strict_mode" [loading]="loading"
                                           [onSubmit]="refreshResetValue">
                      <div class="custom-control custom-checkbox" slot="input">
                        <input
                          class="custom-control-input"
                          type="checkbox"
                          formControlName="strict_mode"
                          id="strict_mode"
                          name="strict_mode"
                        />
                        <label class="custom-control-label"
                               for="strict_mode">{{ t('labBook.details.strictMode.label') }}</label>
                      </div>
                    </eworkbench-form-input>
                  </div>
                  <div class="mb-4">
                    <label
                      for="created-by">{{ t('labBook.details.createdBy.label') }}</label>
                    <div class="flex items-center space-x-1">
                      <eworkbench-user-details
                        id="created-by"
                        class="inline-block"
                        [user]="initialState?.created_by"
                      ></eworkbench-user-details>
                      <span> | </span>
                      <span
                        id="created-at">{{ initialState?.created_at | formatDate }}</span>
                    </div>
                  </div>
                  <div class="mb-4">
                    <label
                      for="last-modified-by">{{ t('labBook.details.lastModifiedBy.label') }}</label>
                    <div class="flex items-center space-x-1">
                      <eworkbench-user-details id="last-modified-by"
                                               class="inline-block"
                                               [user]="initialState?.last_modified_by">
                      </eworkbench-user-details>
                      <span> | </span>
                      <span
                        id="last-modified-at">{{ initialState?.last_modified_at | formatDate }}</span>
                    </div>
                  </div>
                </ng-container>
              </eworkbench-details-collapse-element>
            </div>
            <div>
              <eworkbench-details-collapse-element
                [labelText]="t('labBook.details.element.description')">
                <ng-container slot="actions">
                  <button
                    *ngIf="!form.disabled"
                    type="button"
                    class="btn ewb-button-regular ewb-button-outline"
                    (click)="onOpenDescriptionModal()"
                    [disabled]="loading"
                  >
                    {{ t(descriptionTranslationKey) }}
                  </button>
                </ng-container>
                <ng-container slot="body">
                  <div class="mb-4">
                    <div [id]="preloaded_id"
                         class="description-container"
                         *ngIf="initialState?.description; else noDescription"
                         [innerHTML]="initialState?.description"
                    ></div>
                    <ng-template #noDescription>
                      <span
                        [ngClass]="!privileges?.edit ? 'italic text-tum-disabled' : ''">
                        {{ t('labBook.details.description.noDescription') }}
                      </span>
                    </ng-template>
                  </div>
                </ng-container>
              </eworkbench-details-collapse-element>


            </div>
            <div>
              <eworkbench-details-collapse-element
                [labelText]="t('labBook.details.element.recentChanges')">
                <ng-container slot="body">
                  @defer(on viewport) {
                  <eworkbench-recent-changes
                    id="recent-changes"
                    [service]="labBooksService"
                    [changesId]="id"
                    [refresh]="refreshChanges"
                  ></eworkbench-recent-changes>
                  }
                  @placeholder {
                  <p></p>
                  }
                </ng-container>
              </eworkbench-details-collapse-element>

              <eworkbench-details-collapse-element
                [labelText]="t('labBook.details.element.versions')">
                <ng-container slot="body">
                  @defer(on viewport) {
                  <eworkbench-versions
                    id="versions"
                    contentType="labBook"
                    [service]="labBooksService"
                    [versionId]="id"
                    [lastModifiedAt]="initialState?.last_modified_at"
                    [refresh]="refreshVersions"
                    [editable]="privileges?.restore"
                    [finalizeVersionAlwaysVisible]="true"
                    (changed)="onVersionChanged()"
                  ></eworkbench-versions>
                  }
                  @placeholder {
                  <p></p>
                  }
                </ng-container>
              </eworkbench-details-collapse-element>

            </div>
          </form>
        </eworkbench-overview-collapse-element>
        <!--        we allow all users with view privilege to shift around / resize  elements within draw-board --->
        <eworkbench-labbook-draw-board
          #drawBoard
          [id]="id"
          [projects]="['abc']"
          [editable]="privileges?.view"
        >
        </eworkbench-labbook-draw-board>
      </main>
    </div>
  </ng-container>
</ng-container>
