@import "../../../../../styles/colors";
@import "../../../../../styles/variables";

:host {
  display: block;

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
    background-image: url("../../../../../assets/images/lb.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
  }

  #oidc-button-container {
    box-shadow: #fc0 1px 0 20px;
  }

  /* Form container styling */
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: #fc0 1px 0 20px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 50px;
  }

  /* Input field styling */
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  /* Button styling */
  button {
    width: 100%;
    padding: 10px;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }

  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .button-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }

  .control-error {
    width: 100%;
    margin-left: 5px;
    margin-top: 3.5px;
    font-size: $font-size-sm;
    color: $invalid-border-color;

    a {
      color: $invalid-border-color;
      text-decoration: underline;

      &:visited {
        color: $invalid-border-color;
      }
    }
  }
}
