@import "../../../../../styles/colors";
@import "../../../../../styles/variables";

:host {
  display: block;

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
    padding: 0;
    background-image: url("../../../../../assets/images/login_landscape.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .spacer-top {
    height: 10vh;
  }

  .spacer-bottom {
    height: 20vh;
  }

  #oidc-button-container {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
  }

  /* Form container styling */
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid $primary-color;
    width: 100%;
    max-width: 400px;
    margin-bottom: 50px;
  }

  /* Input field styling */
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  /* Button styling */
  button {
    width: 100%;
    padding: 10px;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }

  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .button-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }

  .control-error {
    width: 100%;
    margin-left: 5px;
    margin-top: 3.5px;
    font-size: $font-size-sm;
    color: $invalid-border-color;

    a {
      color: $invalid-border-color;
      text-decoration: underline;

      &:visited {
        color: $invalid-border-color;
      }
    }
  }

  @media (orientation: portrait) {
    main {
      background-image: url("../../../../../assets/images/login_portait.png");
    }
  }

  @media (width <= 1280px) {
    main {
      padding: 0 10px;
      background-size: contain;
    }

    form {
      padding: 10px;
    }

    input[type="text"],
    input[type="password"],
    button {
      font-size: 13px;
      padding: 8px;
    }

    .button-container {
      flex-direction: column;
    }

    .spacer-top {
      height: 5vh;
    }

    .spacer-bottom {
      height: 10vh;
    }
  }
}
