<ng-container *transloco="let t">
  <main id="lg-bg-img">
    <div style="height: 150px"></div>
    <div>
      <div>
        <form [formGroup]='form' (ngSubmit)='login()'>
          <label>Username</label>
          <input type='text' formControlName='username'/>
          <br>
          <label>Password</label>
          <input type='password' formControlName='password'/>
          <div class="button-container">
            <button type='submit' [disabled]='!this.form.valid'>
              Login
            </button>
          </div>
        </form>
        <div *ngIf="keycloak_integration" id="oidc-button-container">
          <button (click)="login_with_oidc()">
            Login with SSO
          </button>
        </div>
      </div>
      <div style="height: 300px"></div>
    </div>
  </main>
</ng-container>
