:host {
  display: block;

  .close-button {
    font-size: 11px;
    color: #000;
    background-color: #e6e6e6;
  }

  .changes {
    margin-left: 2rem;
  }

  .changes * {
    max-width: 100%;
    box-sizing: border-box;

    /* text safety */
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
  }

  .field-name::first-letter {
    text-transform: uppercase;
  }

  .bg-danger:empty,
  .bg-success:empty {
    display: none;
  }
}
