<ng-container *ngIf="data.length">
  <mlzeln-table-view
    #tableView
    [columns]="listColumns"
    [data]="data"
    [columnHeader]="false"
    [paginationSize]="5"
  ></mlzeln-table-view>
</ng-container>
<ng-template #dateCellTemplate let-row>
  <ng-container *transloco="let t">
    <div class="flex items-center">
      <button
        type="button"
        class="btn mlzeln-button-small close-button mr-2"
        [attr.aria-expanded]="!row.collapsed"
        aria-controls="collapseBasic"
        (click)="onToggleExpanded(row)"
        [disabled]="loading"
        [style.visibility]="isTrashedOrRestored(row.changeset_type) ? 'hidden' : ''"
      >
        <joeseln-icon className="wb-plus" *ngIf="!row.expanded"></joeseln-icon>
        <joeseln-icon className="wb-minus" *ngIf="row.expanded"></joeseln-icon>
      </button>


      {{ row.date | formatDate }}<span class="mx-1">&middot;</span>

      {{ row.object_type.app_label + '.' + row.object_type.model | formatContentTypeModel }}
      <span *ngIf="row.changeset_type === 'U'"
            class="ml-1 mr-2">{{ t('recentChanges.editedBy') }}</span>
      <span *ngIf="row.changeset_type === 'R'"
            class="ml-1 mr-2">{{ t('recentChanges.restoredBy') }}</span>
      <span *ngIf="row.changeset_type === 'S'"
            class="ml-1 mr-2">{{ t('recentChanges.trashedBy') }}</span>
      <span *ngIf="row.changeset_type === 'I'"
            class="ml-1 mr-2">{{ t('recentChanges.createdBy') }}</span>
      <mlzeln-user-details class="inline-block"
                               [user]="row.user"></mlzeln-user-details>
    </div>

    <ng-container
      *ngIf="row.expanded && !isTrashedOrRestored(row.changeset_type)">
      <div class="changes mt-2">
        <div class="field-name"
             *ngFor="let change of row.change_records; index as i">
          <ng-container
            *ngIf="isStandardField(row.object_type.model, change.field_name)">
            {{
            t(row.changeset_type === 'I' ? 'recentChanges.createDetails' : 'recentChanges.changeDetails', {
              field: formatFieldName(change.field_name),
              oldValue: change.old_value || '-',
              newValue: change.new_value || '-'
            })
            }}
          </ng-container>

          <ng-container *ngIf="isHtmlField(change.field_name)">
            {{ formatFieldName(change.field_name) }}
            <div class="bg-danger p-2" *ngIf="change.old_value">
              <div [innerHTML]="change.old_value"></div>
            </div>
            <div class="bg-success p-2" *ngIf="change.new_value">
              <div [innerHTML]="change.new_value"></div>
            </div>
          </ng-container>

          <ng-container *ngIf="isMetadataField(change.field_name)">
            {{ formatFieldName(change.field_name) }}
            <ng-container *ngFor="let field of change.old_value">
              <div class="bg-danger p-2">
                {{ metadataParameters?.[field.fields.field]?.display }}
              </div>
            </ng-container>
            <ng-container *ngFor="let field of change.new_value">
              <div class="bg-success p-2">
                {{ metadataParameters?.[field.fields.field]?.display }}
              </div>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="isChecklistField(change.field_name)">
            {{ formatFieldName(change.field_name) }}
            <div class="bg-danger p-2"
                 *ngIf="change.old_value && change.old_value !== '[]'">
            </div>
            <div class="bg-success p-2"
                 *ngIf="change.new_value && change.new_value !== '[]'">
            </div>
          </ng-container>

          <ng-container *ngIf="isLabelsField(change.field_name)">
            {{ formatFieldName(change.field_name) }}
            <div class="bg-danger p-2" *ngIf="change.old_value">
            </div>
            <div class="bg-success p-2" *ngIf="change.new_value">
            </div>
          </ng-container>

          <ng-container *ngIf="isTaskBoardColumnsField(change.field_name)">
            {{ formatFieldName(change.field_name) }}
          </ng-container>

          <ng-container
            *ngIf="isDriveDirectoryStructureField(change.field_name)">
            {{ formatFieldName(change.field_name) }}
          </ng-container>

          <ng-container *ngIf="isDMPFormField(change.field_name)">
            {{ formatFieldName(change.field_name) }}
            <ng-container *ngIf="row.changeset_type === 'I'">
              {{ t('recentChanges.createDetailsWasSetTo') }}
            </ng-container>
            <ng-container *ngIf="row.changeset_type !== 'I'">
              {{ t('recentChanges.changeDetailsWasChangedFrom') }}
              {{ t('recentChanges.changeDetailsWasChangedTo') }}
            </ng-container>
          </ng-container>

          <ng-container *ngIf="isDMPFormDataField(change.field_name)">
          </ng-container>

          <ng-container
            *ngIf="isDMPStatusField(row.object_type.model, change.field_name)">
            {{ formatFieldName(change.field_name) }}
            <ng-container *ngIf="row.changeset_type === 'I'">
              {{ t('recentChanges.createDetailsWasSetTo') }}
            </ng-container>
            <ng-container *ngIf="row.changeset_type !== 'I'">
              {{ t('recentChanges.changeDetailsWasChangedFrom') }}
              {{ t('recentChanges.changeDetailsWasChangedTo') }}
            </ng-container>
          </ng-container>

          <ng-container *ngIf="isLabBookChildElementsField(change.field_name)">
            {{ t('recentChanges.labBookChildElementWasChanged') }}
          </ng-container>

          <ng-container *ngIf="isTermsOfUsePDFField(change.field_name)">
            {{ t('recentChanges.wasChanged', {field: formatFieldName(change.field_name)}) }}
          </ng-container>

          <ng-container *ngIf="isDateTimeField(change.field_name)">
            {{
            t(row.changeset_type === 'I' ? 'recentChanges.createDetailsSpecialField' : 'recentChanges.changeDetailsSpecialField', {
              field: formatFieldName(change.field_name),
              oldValue: (change.old_value) || "'-'",
              newValue: (change.new_value) || "'-'"
            })
            }}
          </ng-container>


          <ng-container *ngIf="isFileSizeField(change.field_name)">
            {{
            t(row.changeset_type === 'I' ? 'recentChanges.createDetailsSpecialField' : 'recentChanges.changeDetailsSpecialField', {
              field: formatFieldName(change.field_name),
              oldValue: (change.old_value) || "'-'",
              newValue: (change.new_value) || "'-'"
            })
            }}
          </ng-container>
          <div *ngIf="isUserField(change.field_name)" class="flex">
            <span class="mr-1">{{ formatFieldName(change.field_name) }}</span>
            <ng-container *ngIf="row.changeset_type === 'I'">
              <span
                class="mr-2">{{ t('recentChanges.createDetailsWasSetTo') }}</span>
              <ng-container *ngIf="!change.new_value">'-'</ng-container>
            </ng-container>
            <ng-container *ngIf="row.changeset_type !== 'I'">
              <span
                class="mr-2">{{ t('recentChanges.changeDetailsWasChangedFrom') }}</span>
              <ng-container *ngIf="!change.old_value">'-'</ng-container>
              <span
                class="mr-2">{{ t('recentChanges.changeDetailsWasChangedTo') }}</span>
              <ng-container *ngIf="!change.new_value">'-'</ng-container>
            </ng-container>
          </div>

          <ng-container *ngIf="isProjectField(change.field_name)">
            {{ formatFieldName(change.field_name) }}
            <ng-container *ngIf="row.changeset_type === 'I'">
              {{ t('recentChanges.createDetailsWasSetTo') }}
              <ng-container *ngIf="!change.new_value">'-'</ng-container>
            </ng-container>
            <ng-container *ngIf="row.changeset_type !== 'I'">
              {{ t('recentChanges.changeDetailsWasChangedFrom') }}
              <ng-container *ngIf="!change.old_value">'-'</ng-container>
              {{ t('recentChanges.changeDetailsWasChangedTo') }}
              <ng-container *ngIf="!change.new_value">'-'</ng-container>
            </ng-container>
          </ng-container>

          <ng-container
            *ngIf="isTaskStateField(row.object_type.model, change.field_name)">
            {{ formatFieldName(change.field_name) }}
            <ng-container *ngIf="row.changeset_type === 'I'">
              {{ t('recentChanges.createDetailsWasSetTo') }}
            </ng-container>
            <ng-container *ngIf="row.changeset_type !== 'I'">
              {{ t('recentChanges.changeDetailsWasChangedFrom') }}
              {{ t('recentChanges.changeDetailsWasChangedTo') }}
            </ng-container>
          </ng-container>

          <ng-container
            *ngIf="isTaskPriorityField(row.object_type.model, change.field_name)">
            {{ formatFieldName(change.field_name) }}
            <ng-container *ngIf="row.changeset_type === 'I'">
              {{ t('recentChanges.createDetailsWasSetTo') }}
            </ng-container>
            <ng-container *ngIf="row.changeset_type !== 'I'">
              {{ t('recentChanges.changeDetailsWasChangedFrom') }}
              {{ t('recentChanges.changeDetailsWasChangedTo') }}
            </ng-container>
          </ng-container>

          <ng-container
            *ngIf="isResourceTypeField(row.object_type.model, change.field_name)">
            {{ formatFieldName(change.field_name) }}
            <ng-container *ngIf="row.changeset_type === 'I'">
              {{ t('recentChanges.createDetailsWasSetTo') }}
            </ng-container>
            <ng-container *ngIf="row.changeset_type !== 'I'">
              {{ t('recentChanges.changeDetailsWasChangedFrom') }}
              {{ t('recentChanges.changeDetailsWasChangedTo') }}
            </ng-container>
          </ng-container>

          <ng-container
            *ngIf="isResourceGeneralUsageSettingField(row.object_type.model, change.field_name)">
            {{ formatFieldName(change.field_name) }}
            <ng-container *ngIf="row.changeset_type === 'I'">
              {{ t('recentChanges.createDetailsWasSetTo') }}
            </ng-container>
            <ng-container *ngIf="row.changeset_type !== 'I'">
              {{ t('recentChanges.changeDetailsWasChangedFrom') }}
              {{ t('recentChanges.changeDetailsWasChangedTo') }}
            </ng-container>
          </ng-container>

          <ng-container
            *ngIf="isResourceUsageSettingSelectedUserGroupsField(row.object_type.model, change.field_name)">
            {{ formatFieldName(change.field_name) }}
            <ng-container *ngIf="row.changeset_type === 'I'">
              {{ t('recentChanges.createDetailsWasSetTo') }}
              <ng-container *ngIf="!change.new_value">'-'</ng-container>
            </ng-container>
            <ng-container *ngIf="row.changeset_type !== 'I'">
              {{ t('recentChanges.changeDetailsWasChangedFrom') }}
              <ng-container *ngIf="!change.old_value">'-'</ng-container>
              {{ t('recentChanges.changeDetailsWasChangedTo') }}
              <ng-container *ngIf="!change.new_value">'-'</ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-template>
