<ng-container *transloco="let t">
  <main>

    <h4>Welcome</h4>

    <div *ngIf="user">
      <div>
        Username:  &nbsp;  {{user.username}} <br>
        Mail:    &nbsp;    {{ user.email }}  <br>
        Admin:   &nbsp;    {{ user.admin}}
      </div>
      <div style="margin-top: 1%">
        Your groups:
        <ul *ngIf="user.groups">
          <li *ngFor="let group of user.groups">
            {{group}}
          </li>
        </ul>
      </div>
            <div style="margin-top: 1%">
        Your groups as groupadmin:
        <ul *ngIf="user.admin_groups">
          <li *ngFor="let group of user.admin_groups">
            {{group}}
          </li>
        </ul>
      </div>
    </div>
  </main>
</ng-container>
