<ng-container *transloco="let t">
  <button type="button" [class.active]="!showTrashedItems" class="btn mlzeln-button-big mlzeln-button-secondary" (click)="onChangeState()">
    {{ t(filterTextLeft) || t('shared.trashedItems.buttons.regularItems') }}
  </button>
  <button type="button" [class.active]="showTrashedItems" class="btn mlzeln-button-big mlzeln-button-secondary" (click)="onChangeState()">
    {{ t(filterTextRight) || t('shared.trashedItems.buttons.trashedItems') }}
  </button>
</ng-container>
